nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 60px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-list li a {
    font-weight: 700;
    font-size: 24px;
    text-decoration: underline;
}

.film {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid black;
    position: relative;
}


.film img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.search-reply {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}